{% load i18n %}

<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'giveaway/main.css' %}" />

{% block bootstrap3_content %}
<div class='container'>
<form class="form" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
	<div class="form-group">
		<label class="control-label">{% trans 'To give' %}
			<input class="form-control" id="id_goods_number" placeholder="0" title="" type="number" min="0" max="{{goods_left}}" name="goods_number" />
		</label>
		<label class="control-label">{% trans 'Left for month' %}
			<input class="form-control" id="id_goods_number_left" title="" type="number" disabled="" value="{{goods_left}}" name="goods_number_left" />
		</label>
		<button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
	</div>
</form>

</div>
{% endblock %}