{% load i18n %}

<script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'giveaway/main.css' %}" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju-1.11.4/dt-1.10.13/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/ju-1.11.4/dt-1.10.13/datatables.min.js"></script>

<script>
	$(document).ready(function() {
		$('#giveaways').DataTable({
			"ajax": {
				"url" : "{% url 'client_giveaways_list' client_id=client_id %}",
				"dataSrc": ""
			},
			"columns": [
				{ "data": "date" },
				{ "data": "goods_number" }
			],
			"order": [[ 0, "desc" ]]
		});
	})
</script>

{% block bootstrap3_content %}
<div class='container'>
{% bootstrap_messages %}
<form class="form" method="POST">
    {% csrf_token %}
    {% bootstrap_form form %}
	<div class="form-group">
		<label class="control-label">{% trans 'To give' %}
			<input class="form-control" id="id_goods_number" placeholder="0" title="" type="number" min="0"
				max="{{goods_left}}" name="goods_number" />
		</label>
		<label class="control-label">{% trans 'Left for month' %}
			<input class="form-control" id="id_goods_number_left" title="" type="number" disabled="" value="{{goods_left}}" name="goods_number_left" />
		</label>
		<button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
	</div>
</form>

<table id="giveaways" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Date</th>
            <th>Goods Number</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <td>3</td>
            <td>4</td>
        </tr>
    </tbody>
</table>

</div>
{% endblock %}