<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous"></script>

{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'giveaway/easy-autocomplete.min.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'giveaway/easy-autocomplete.themes.min.css' %}"> 
<link rel="stylesheet" type="text/css" href="{% static 'giveaway/main.css' %}" />

<script src="{% static 'giveaway/jquery.easy-autocomplete.min.js' %}"></script> 
<script>
    $(document).ready(function() {
        var options = {
			url: function(query) {
				return "{% url 'find_clients' %}?query=" + query;
			},
			getValue: "name",
			list: {
				sort: {
					enabled: true
				},
                onSelectItemEvent: function() {
                    $("#client-id").val($("#client-query").getSelectedItemData().id);
                },
                onChooseEvent: go_to_client_giveaways,
			},
			template: {
				type: "custom",
				method: function(value, item) {		
					return "<span class='search-prompt " + (item.is_good ? 'good-client' : 'bad-client') + "'>" +
							item.name +
						"</span>"
				}
			},
			requestDelay: 200,
			theme: "round"
        };

        $("#client-query")
            .easyAutocomplete(options)
            .focus(function() { $(this).select() });
    });

    function go_to_client_giveaways() {
        var clientId = $('#client-id').val();
        var url = "{% url 'client_giveaways' pk='' %}".replace(/\/{2}$/, '/' + clientId + '/');
        window.location = url;
        return false;
    }
</script>

{% block bootstrap3_content %}
    <div class="container">
        <form class="query-container" onsubmit="return go_to_client_giveaways()">
            {% csrf_token %}
            <input id="client-query" type="text" name="query" />
            <input id="client-id" type="hidden" name="client-id" />
        </form>
    </div>
{% endblock %}

